# Ignoring backup files
*~

# Ignoring kdevelop4 project files
*.kdev4

# Ignoring vim restore files
*.swp
*.kate-swp

# Ignoring kde4 .directory files
.directory

# Ignoring windows thumb files
Thumbs.db

